# A Naive Prediction Of The Future

## Baseline model

#### A baseline model is a trivial solution to your forecasting problem. It relies on heuristics or simple statistics and is usually the simplest solution. It does not require model fitting, and it is easy to implement.

#### You might wonder if those baseline models are any good. How well can those simple methods forecast the future? We can answer this question by forecasting for the year of 1980 and testing our forecasts against the observed data in 1980. This is called out-of-sample forecasting because we are making predictions for a period that was not taken into account when the model was developed. That way we can measure the performance of our models and see how they would perform when we forecast beyond the data we have, which in this case is 1981 and later.

In [3]:
import pandas as pd

df = pd.read_csv("/Users/maukanmir/Documents/Machine-Learning/AI-ML-Textbooks/AI-ML-Learning/Data/jj.csv")
df

          date   data
0   1960-01-01   0.71
1   1960-04-01   0.63
2   1960-07-02   0.85
3   1960-10-01   0.44
4   1961-01-01   0.61
..         ...    ...
79  1979-10-01   9.99
80  1980-01-01  16.20
81  1980-04-01  14.67
82  1980-07-02  16.02
83  1980-10-01  11.61

[84 rows x 2 columns]

In [4]:
df.head()

         date  data
0  1960-01-01  0.71
1  1960-04-01  0.63
2  1960-07-02  0.85
3  1960-10-01  0.44
4  1961-01-01  0.61

In [5]:
df.tail()

          date   data
79  1979-10-01   9.99
80  1980-01-01  16.20
81  1980-04-01  14.67
82  1980-07-02  16.02
83  1980-10-01  11.61

In [7]:
df.sort_values(by="date", ascending=True, inplace=True)

In [8]:
df.head()

         date  data
0  1960-01-01  0.71
1  1960-04-01  0.63
2  1960-07-02  0.85
3  1960-10-01  0.44
4  1961-01-01  0.61

In [9]:
df.tail()

          date   data
79  1979-10-01   9.99
80  1980-01-01  16.20
81  1980-04-01  14.67
82  1980-07-02  16.02
83  1980-10-01  11.61

In [6]:
train = df[:-4]
test = df[-4:]

In [11]:
import numpy as np
 
historical_mean = np.mean(train['data'])
 
print(historical_mean)

4.308499987499999